<div>
  <div>Id: <%= feature['id'] %></div>
  <div>Name: <%= feature['name'] %></div>
  <div>Source: <%= feature['source'] %></div>
  <div>Tags:
    <ul>
      <% feature['tags'].each do|tag| %>
        <li><%= tag %></li>
      <% end %>
    </ul>
  </div>
  <div>Pass Percentage: <%= success_percent %></div>
  <div>Executions:
    <ul>
      <% executions.each do |execution| %>
        <li><%= execution['id'] %></li>
      <% end %>
    </ul>
  </div>
</div>